<!--Section: Content-->
<section id="about" class="dark-grey-text">

    <div class="row pr-lg-5">
        <div class="col-md-7 mb-4">

            <div class="view">
                <img src="https://mdbootstrap.com/img/illustrations/graphics(4).png" class="img-fluid" alt="smaple image">
            </div>

        </div>
        <div class="col-md-5 d-flex align-items-center">
            <div>

                <h3 class="font-weight-bold mb-4">About Simple Website</h3>

                <p>Simple Website introduces </p>

                <button type="button" class="btn btn-orange btn-rounded mx-0">Download</button>

            </div>
        </div>
    </div>

</section>
<!--Section: Content-->